@font-face {
    font-family: 'Alex Brush';
    src: url('font/AlexBrush-Regular.woff2') format('woff2'),
        url('font/AlexBrush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kaushan Script';
    src: url('font/KaushanScript-Regular.woff2') format('woff2'),
        url('font/KaushanScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cantarell';
    src: url('font/Cantarell-Regular.woff2') format('woff2'),
        url('font/Cantarell-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cantarell';
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    padding-top: 10px;
    align-items: center;
    gap: 1em;
}
.no-image{
    font-family: 'Kaushan Script';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; 

}
.image-present{
    position: absolute;
    top: 0%;
    left: 2%;
    font-size: 1.2rem;
    font-family: 'Alex Brush';
}
.imagePreview{
width: 100%;
height: 100%;
}
.imagePreview img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.top button{
    padding: .9em;
    font-size: 1rem;
    border-radius: 10px;
}
.top h2{
    font-size: 2rem;
}

.container{
    border: 1px solid gray;
    flex: 1;
    padding: 10px;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-auto-rows: 300px;
    gap: 10px;
}
.item{
    background-color: rgb(224, 220, 245);
    height: 100%;
    padding: 1em;
    border-radius: 10px;
    position: relative;

    display: grid;
    grid-template-rows:60% 40%;
}
.lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.lower button{
    padding: 5px;
    border-radius: 5px;
}
.have-read{
    background-color: #80b918;
}
.not-read{
    background-color: #c1121f;
}
dialog{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    top: 20%;

}
dialog::backdrop{
    opacity: .6;
    background-color: gray;
}
.form-container{
    padding: 40px;
    font-size: 1.5rem;
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
}
.form-container h2{
    text-align: center;
}
form{
display: grid;
grid-template-columns: 1fr;
gap: 10px;
}
form p{
    display: grid;
    padding: 10px 5px;
    grid-template-columns:40% 1fr ;
}
p input[type="text"]{
    font-size: 1.4rem;
}
form .lower-btn{
    margin-top: auto;
    margin-left:auto;
    margin-right: auto;
}
.lower-btn button{
    font-size: 1.2rem;
    padding: .4em;
    border-radius: 10px;
}

